body{
    margin: 0px;
    padding: 0px;
}
.head-section{
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.945)), url(images/donation12.png);
}
.head-div{
    margin-left: 15%;
    padding: 8%;
    text-align: center;
    width: 50%;
    color: white;
}
.banner-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
}
.donate-button{
    text-decoration: none;
    padding: 6px 10px;
    background-image: linear-gradient(rgb(23, 3, 95), rgb(69, 2, 255));
    color: black;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.donate-today-div{
    margin-left: 15%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    width: 50%;
    font-family: 'Poppins', sans-serif;
}
.amount-div{
    margin-left: 20%;
    display: flex;
}
.amount{
    background-color: lightgray;
    padding: 40px 30px;
    margin-left: 15px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
#selected-amount{
    color: red;
    border: 2.5px solid tomato;
}
.amount-place{
    margin-top: 30px;
    width: 750px;
    text-align: center;
    margin-left: 21%;
}
.amount-place p{
    color: rgba(0, 0, 0, 0.212);

}
.donate-plan{
    margin-top: 30px;
}
.information-div{
    display: flex;
    margin: 0px 0px 50px 50px;
}
.info-box{
    padding: 60px 25px;
    background-color: azure;
    margin-left: 12px;
    width: 350px;
    border-radius: 10px;
    text-align: justify;
}
.different-box2{
    background-color: rgba(247, 217, 183, 0.774); 
}
.different-box1{
    background-color: rgba(255, 235, 210, 0.644);  
}

.contact-div{
    width: 700px;
    background-color: antiquewhite;
    padding: 50px;
    margin-left: 20%;
    text-align: center;
    border-radius: 10px;
}
.contact-div input{
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    background-color: lightgray;
    border: none;
    padding-left: 15px;
}
.subscribe-button{
    border-radius: 0px 5px 5px 0px;
    background-color: tomato;
    color: white;
    border: none;
    height: 32px;
    margin-left: -4px;
    padding: 0px 15px 0px 15px;
    
}
.mother-adding{
    display: flex;
}
.my-adding-div{
    height: 300px;
    background-size: cover;
    padding-right: 10px;
    margin-left: 4px;
    border-radius: 6px;
    text-align: center;
}
.my-adding-div p{
    margin-top: 220px;
    padding: 10px;
}
.my-adding-div p a{
    text-decoration: none;
    color: white;
}
small{
    color: skyblue;
}
.one{
    background-image:linear-gradient(rgba(0, 0, 0, 0.267),rgb(0, 0, 0)), url(my-add/bull.jpg);
}
.two{
    background-image:linear-gradient(rgba(0, 0, 0, 0.356),rgb(0, 0, 0)), url(my-add/child.jpg);
}
.three{
    background-image:linear-gradient(rgba(0, 0, 0, 0.349),rgb(0, 0, 0)), url(my-add/rohingya-7592.jpg);
}
.donate-catagories{
    display: flex;
}
.donate-catagories-sec{
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    margin-left: 1.5%;
    border-radius: 10px;
}
.donate-catagories-sec h1{
    font-size: 30px;
    padding: 20px 45px ;
    text-align: center;
    width: 200px;
}
.donate-catagories img{
    height: 100px;
    width: 100px;
}



footer{
    text-align: center;
    color: white;
    background-color: rgb(8, 8, 66);
    padding: 10px;
    font-family: 'Satisfy', cursive;
    margin-top: 100px;
}
.foot-text{
    font-family: 'Satisfy', cursive;
}
